body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #222;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.embed-site {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

iframe {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}
#work {
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнює по горизонталі */
    text-align: center; /* Вирівнює текст */
}
#work img {
    max-width: 100%; /* Щоб картинка не виходила за межі екрану */
    height: auto;
}

